$cutecolor:tomato; 
$cutecolorb:#FFF1F1;
$primary-font: Arial, sans-serif;
$background-color: #f6f6f6;
$container-background: #414A23;
$container-max-width: 600px;
$container-padding: 20px;
$container-border-radius: 10px;
$container-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$gallery-border-color: #ccc;
$gallery-border-hover-color: #777;
$desc-padding: 15px;
$content-color: #f0f0f0; 
// Welcome message variables
$primary-color: #3D585D;
$text-color: #333;
$accent-color: #666;
$welcomefont: 'Roboto', sans-serif;